#contactPage{
   margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-left: 3px solid rgba(218, 165, 32, 0.403);
    border-right: 3px solid rgba(218, 165, 32, 0.339);
    border-radius: 30px;
    transition: 0.5s;
}
#contactPage:hover{
   background-color: white;
    
  }
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 40%;

}
form input,textarea{
    border: 1px solid goldenrod;
    outline: none;
   width: 100%;
   padding: 20px;
   border-radius: 10px;
}
.submitBtn{
    border: none;
    outline: none;
   width: 80%;
   padding: 20px;
   border-radius: 10px;
   background-color: goldenrod;
   color: white;
   border: 1px solid goldenrod;
   transition: 0.3s;
}
.submitBtn:hover{
    background-color: rgba(218, 165, 32, 0.297);
    color: black;
}
.alert {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    padding: 8px 15px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
@media screen and (max-width: 800px) {
    #contactPage{
        margin-top: 15%;
     flex-direction: column;
     align-items: center;
         
     }
     form{
        margin-top: 5%;
        width: 80%;
     }
}