#servicePage{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 3px solid rgba(218, 165, 32, 0.403);
    border-right: 3px solid rgba(218, 165, 32, 0.339);
    border-radius: 30px;
    padding:20px 10px;
    transition: 0.5s;
}
#servicePage:hover{
  background-color: white;
}
small{
    text-decoration: underline;
}
h1{
    color: goldenrod;
}
.services{
  width: 90%;
  margin: 0 5%;
}
.services img{
  width: 100%;
  object-fit: cover;
}
