.footer{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-left: 3px solid rgba(218, 165, 32, 0.403);
    border-right: 3px solid rgba(218, 165, 32, 0.339);
    color: black;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    transition: 0.5s;
}
.footer:hover{
    background-color: white;
}
.footer_menu ul li{
    padding: 10px;  
}
.footer_menu ul li a{
    color: black;
}
.contact{
     padding: 20px;
}
.social_links ul li{
    margin-top: 10%;
}
.social_links ul li a{
    color: black;
}
.rights{
    border-left: 3px solid rgba(218, 165, 32, 0.403);
    border-right: 3px solid rgba(218, 165, 32, 0.339);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
@media screen and (max-width: 800px) {
    .footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 400px) {
    body{
        font-size: 10px;
    }
}