
.main_area{
  width: 100%;
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  text-align: center;
}
.brandName{
  font-size: 10rem;
  font-weight: bolder;
}
.tagLine{
  font-size: 2rem;
}
.tagLine span{
  color: gold;
  font-weight: bolder;
}
.lets_Go_Btn{
  text-decoration: none;
  color: goldenrod;
  padding: 20px 40px;
  background-color: white;
  border: 1px solid wh;
  border-radius: 5px;
  margin-top: 3%;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(218, 165, 32, 0.28);
  -moz-box-shadow: 0px 0px 5px 1px rgba(218, 165, 32, 0.284);
  box-shadow: 0px 0px 5px 1px rgba(218, 165, 32, 0.285);
}
.lets_Go_Btn:hover{
  background-color: white;
  color: white;
  background: rgba(218, 165, 32, 0.557);
  transition: 0.5s;
}
.whatsapp_icon{
  width: 60px;
  height: 60px;
  padding: 5px;
  position: fixed;
  border-radius: 30px;
  top: 80%;
  right: 40px;
  z-index:1;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,255,17,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,255,17,1);
box-shadow: 0px 0px 5px 0px rgba(0,255,17,1);
transition: 0.3s;
}

.whatsapp_icon:hover{
  background-color: rgba(0, 128, 0, 0.592);
}
.BGimg1 {
  width: 300px;
  height: 400px;
  background: url("./assets/BGimg1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  position: absolute;
  top: 30px;
  left: 40px;
  z-index: -10;
  transform: rotate(4deg);
}
.BGimg2 {
  width: 300px;
  height: 400px;
  background: url("./assets/BGimg2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  position: absolute;
  top: 180px;
  right: 50px;
  z-index: -10;
  transform: rotate(-15deg);
}
.BGimg3 {
  width: 300px;
  height: 300px;
  background: url("./assets/BGimg3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  position: absolute;
  top: 630px;
  left: 120px;
  z-index: -10;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.lets_Go_Btn {
  animation: shake 1s ease-in-out infinite;
}


@media screen and (max-width: 800px) {
  .main_area{
      margin-top: 30%;
  }
  .brandName{
      font-size: 2.5rem;
      font-weight: bolder;
  }
  .tagLine{
      font-size: 1rem;
  }
  .subtag{
      font-size: 12px;
  }
  .BGimg1,.BGimg2,.BGimg3{
    display: none;
  }
  .whatsapp_icon{
    width: 40px;
    height: 40px;
    padding: 3px;
  position: fixed;
  top: 600px;
  right: 40px;
  z-index: 10;
  }
}

@media screen and (max-width: 400px) {
  .lets_Go_Btn{
    padding: 10px 20px;
  }
}